.h2_2 {
    text-align: center;
    color: green;
    font-size: x-large;
}
ul {
    list-style: none;
}
li {
    width: 150px;
    display: inline-block;
    margin: 20px;
}
li a {
    padding: 5px 20px;
    font-size: 15px;
    text-decoration: none;
    font-weight: bolder;
}
a[href] {
    background: rgb(243, 170, 243);
    border: 1px solid rgb(15, 1, 24);
    font-weight: normal;
}

a[title ^="road"] {
    background: url(image/car.jpg) no-repeat left center;
    background-size: 10px;
}
.header_1 {
    text-align: center;
    color: green;
    font-size: x-large;
}
.box4 {
    width: 100px;
    height: 100px;
    margin: 60px auto;
    animation: rotate 1.5s infinite, background 1.5s infinite alternate;
}

@keyframes rotate {
    from {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }

    50% {
        transform: perspective(120px) rotateX(-180deg) rotateY(0deg)
    }

    to {
        transform: perspective(120px) rotateX(-180deg) rotateY(-180deg)
    }
}

@keyframes background {
    from {
        background-color: yellow
    }

    50% {
        background-color: green
    }

    to {
        background-color: brown
    }
}

.container {
 display: flex;
 background-color: yellow;
border: 1px solid black;
margin-bottom: 30px;
height: 200px;
}

.box6 {
    padding: 5px 45px;
    margin: 5px;
    width: 500px;
    background-color: rgb(238, 164, 164);

}

#opt1 {
    flex-direction: row;
}
.box5 {
    margin: 50px auto;
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    border: 1px solid black;
    transition: 2s ease-in-out;
}
.box5:hover {
    width: 200px;
    height: 200px;
    background-color: brown;
    transform: rotate(270deg);
}
.header_2 {
    text-align: center;
    color: green;
    font-size: x-large;
}