#result {
    width:500px;
	height:500px;
	margin:100px auto;
	border:3px solid #d20bfa;
	border-radius:15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#menuName {
    position: relative;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
 }

 #menuPrice {
     position: relative;
     bottom: 100px;
     left: 50%;
     transform: translateX(-50%);
     padding: 10px;
     border-radius: 5px;
     font-size: 20px;
     text-align: center;
 }

 header {
    font-size: 50px;
    text-align: center;
    color: rgb(82, 64, 241);
    text-shadow: 5px 5px 5px rgb(167, 95, 226);
    padding: 10px;
}

button {
    position: absolute;
    right: 50px;
    background: greenyellow;
    color: red;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px yellow;
}

