
#result {
	width:500px;
	height:500px;
	margin:100px auto;
	border:3px solid #d20bfa;
	border-radius:15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}
p {
	width:auto;
	padding:10px;
	line-height: 2em;
    font-size: medium;
}
#menuName {
   position: relative;
   bottom: 10px;
   left: 50%;
   transform: translateX(-50%);
   padding: 10px;
   border-radius: 5px;
   font-size: 30px;
   text-align: center;
}
#menuPrice {
    position: relative;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    border-radius: 5px;
    font-size: 32px;
    text-align: center;
}

header {
    font-size: 50px;
    text-align: center;
    color: rgb(82, 64, 241);
    text-shadow: 5px 5px 5px rgb(167, 95, 226);
    padding: 10px;
}

button {
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    background-color: #b85df5;
    color: white;
    border-radius: 5px;
}
button:hover {
    background-color: #45a049;
}

.button {
    width: 90px;
    height: 30px;
    float: right;
    background: blue;
    color: white;
    border: none;
}

.button:hover {
    background-color: yellow;
}

.add {
    width: 500px;
    margin: 20px auto;
    padding: 20px;
}

input[type="text"] {
    width: 370px;
    float: left;
    height: 30px;
    padding-left: 30px;
}

hr{ clear: both; display: none;}
ul{ list-style: none; padding-top: 50px;}
li{ line-height: 2.5;}
li:hover { cursor: ;}