
        body, html {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        /* 첫 번째 회색 사각형 */
        .header {
            height: 60px;
            background-color: rgb(217, 217, 217);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .header h1 {
            font-size: 24px;
        }

        /* 두 번째 진한 회색 사각형 */
        .nav {
            background-color: rgb(138,137,137);
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px;
            height: 30px;
        }

        .nav img {
            width: 50px;
            cursor: pointer;
        }

        .buttons {
            display: flex;
            gap: 10px;
        }

        .buttons button {
            padding: 10px 20px;
            border: none;
            background-color:  rgb(138,137,137);
            color: white;
            cursor: pointer;
            border-radius: 5px;
        }

        .buttons button:hover {
            background-color:   rgb(217, 217, 217);
            color: black;
        }
